.tc-wrapper {
  display: flex;
  flex-direction: column;
}

.tc-tooltip {
  position: absolute;
  top: 0px;

  padding: 10px;
  background-color: #fff;
  box-shadow: -1px 1px 4px rgba(0, 0, 0, 0.1);

  border: 1px solid rgba(24, 44, 58, 0.1);
  border-radius: 10px;

  transition: transform ease-out 500ms;
}

.tc-tooltip--hidden {
  display: none;
}

.tc-tooltip__wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  min-width: 140px;

  font-size: 12px;
}

.tc-tooltip__value {
  display: flex;
  justify-content: space-between;

  line-height: 2em;
}

.tc-tooltip__value--hidden {
  display: none;
}

.tc-tooltip__value span {
  font-weight: bold;
}

.tc-tooltip__name {
  font-weight: bold;
}

.tc-chart-wrapper {
  position: relative;
}

.tc-chart {
  /* border: 1px solid black; */

  height: 300px;
  width: 100%;
  margin-bottom: 30px;
}

.tc-preview {
  /* border: 1px solid black; */

  border-radius: 5px;
  height: 40px;
  width: 100%;
  margin-bottom: 10px;
}

.tc-controls {
  display: flex;

  flex-flow: wrap;
  align-items: center;
}

.tc-control {
  display: flex;
  align-items: center;

  margin: 5px;
  padding: 5px 15px 5px 5px;

  border-radius: 30px;
  border: 1px solid #e6ecf0;

  cursor: pointer;
  user-select: none;
}

.tc-checkbox {
  position: relative;

  width: 30px;
  height: 30px;
  margin-right: 8px;

  border-radius: 50%;
  border: 1px solid #e6ecf0;
}

.tc-checkbox:after,
.tc-checkbox:before {
  position: absolute;
  top: 50%;
  left: 50%;

  content: "";
  display: block;
  width: 0;

  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 1px;

  transition: transform 0.3s ease;
}

.tc-checkbox:after {
  height: 12px;
  transform: translate(-1px, -6px) rotate(45deg);
}

.tc-checkbox:before {
  height: 12px;
  transform: translate(-1px, -6px) rotate(-45deg);
}

.tc-control.tc-checked > .tc-checkbox:after {
  top: 14px;
  left: 10px;
  height: 6px;
  transform: rotate(-45deg);
}

.tc-control.tc-checked > .tc-checkbox:before {
  top: 9px;
  left: 15px;
  transform: rotate(45deg);
}

.tc-range {
  display: flex;
  font-size: 12px;
  font-weight: bold;
}
